:root {
  --main-bg-color: #f6f7f8;
  --primary-color: #166687;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--main-bg-color);
}

.splash-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--main-bg-color);
}

/* app bar */

.app-bar {
  display: flex;
  flex-direction: column;
}

.app-bar> :first-child {
  display: flex;
}

.app-bar> :first-child> :first-child {
  margin: auto;
}

.app-bar> :last-child {
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.app-bar a {
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
  color: black;
}

.app-bar .focus {
  color: var(--primary-color);
}

.app-bar .focus * {
  color: var(--primary-color);
}

.app-bar a:hover {
  background: rgba(0, 0, 0, 0.1);
}

/*Page */

.page {
  padding: 0 20%;
}

@media screen and (max-width: 1600px) {
  .page {
    padding: 0 15%;
  }
}

@media screen and (max-width: 1200px) {
  .page {
    padding: 0 10%;
  }
}

@media screen and (max-width: 450px) {

  /* telephone */
  .app-bar> :first-child img {
    height: 50px;
  }

  .page {
    padding: 0 3%;
  }
}

.white-text {
  color: white;
}

.bg-blue {
  background: var(--primary-color);
  padding: 30px 0;
}

.definition2 {
  display: none;
}

.definition3 {
  display: none;
}

.index-title {
  margin: 0;
}

.menu-items>a {
  font-size: 1.2rem;
  padding: 10px 10px;
}

.source {
  text-align: end;
}
