
#news-slider{
  margin-top: 80px;
}

.col-md-12{
  background-color: #f6f7f8;
}
.post-title{
  text-align: center;
}

.post-slide{
  background: #f6f7f8;
  margin: 20px 15px 20px;
  border-radius: 15px;
  padding-top: 1px;
}
.post-slide .post-img{

  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: -12px 15px 8px 15px;
  margin-left: -10px;
}
.post-slide .post-img img{
  width: 250px;
  height: 250px;
  transform: scale(1,1);
  transition:transform 0.2s linear;
}


.post-slide .post-title a{
  text-align: center;
  font-size:15px;
  font-weight:bold;
  color:#333;
  display: inline-block;
  text-transform:uppercase;
  transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover{
  text-decoration: none;
  color:#3498db;
}

.owl-controls .owl-buttons{
  text-align:center;
  margin-top:20px;
}
.owl-controls .owl-buttons .owl-prev{
  background: #dfe0e1;
  position: absolute;
  top:-13%;
  left:15px;
  padding: 0 18px 0 15px;
  border-radius: 50px;
  box-shadow: 3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-next{
  background: #dfe0e1;
  position: absolute;
  top:-13%;
  right: 15px;
  padding: 0 15px 0 18px;
  border-radius: 50px;
  box-shadow: -3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after{
  content:"\f104";
  font-family: FontAwesome;
  color: #333;
  font-size:30px;
}
.owl-controls .owl-buttons .owl-next:after{
  content:"\f105";
}
@media only screen and (max-width:1280px) {
  .post-slide .post-content{
      padding: 0px 15px 25px 15px;
  }
}
