<div style="background-color: #f6f7f8;">
    <div >
        <img src="assets/logoMondeDeDemain.png" alt="logo">
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="index.html"><i class="fa-solid fa-house"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">En bref</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="actualites.html">Actualités</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dimensions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Medias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input type="text">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </div>
    </div>
</nav>
<!-- <div class="menu-items page">
    <div>
        <i class="fa-solid fa-bars"></i>
        <a href="index.html"><i class="fa-solid fa-house"></i></a>
        <a href="#">En bref</a>
        <a href="actualites.html">Actualités</a>
        <a href="#">Dimensions</a>
        <a href="#">Medias</a>
        <a href="#">FAQ</a>
    </div>
    <div class="loupe">
        <input type="text">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
</div> -->