<div>
    <div>
        <img src="assets/logoMondeDeDemain.png" alt="logo">
    </div>
</div>
<div class="menu-items page">
    <div>
        <i class="fa-solid fa-bars"></i>
        <a href="index.html"><i class="fa-solid fa-house"></i></a>
        <a href="#">En bref</a>
        <a href="actualites.html">Actualités</a>
        <a href="#">Dimensions</a>
        <a href="#">Medias</a>
        <a href="#">FAQ</a>
    </div>
    <div class="loupe">
        <input type="text">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
</div>