.list-actualities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.actualite {
    width: 370px;
}

.actualite img {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 30px;
    z-index: 4;
    position: relative;
}

.actualite div {
    position: relative;
    top: -30px;
    padding-top: 100px;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 30px;
    z-index: 3;
}